#BITTHUMB
BITTHUMB-API-KEY: ''
BITTHUMB-API-SECRET: ''
BITTHUMB-WALLET-BTC: ''
BITTHUMB-WALLET-XRP: ''
BITTHUMB-WALLET-XRP-DESTTAG: ''

# BINANCE
BINANCE-API-KEY: ''
BINANCE-API-SECRET: ''
BINANCE-WALLET-BTC: ''
BINANCE-WALLET-XRP: ''
BINANCE-WALLET-XRP-DESTTAG: ''

# COINONE
COINONE-API-KEY: ''
COINONE-API-SECRET: ''
COINONE-WALLET-BTC: ''
COINONE-WALLET-XRP: ''
COINONE-WALLET-XRP-DESTTAG: ''
COINONE-WALLET-LUNA: ''
COINONE-WALLET-LUNA-DESTTAG: ''

# AND SO ON...